// Color Variables
$primary-color: #2E4FBE;
$text-color: #777;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$light: #E3E7F3;

// Font Variables
$primary-font: 'Lato', sans-serif;
$icon-font: 'themify';