// Color Variables
$primary-color: #2e4fbe;
$text-color: #333;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ececec;
$black: #000;
$white: #fff;
$light: #e3e7f3;

// Font Variables
$primary-font: "Lato", sans-serif;
$icon-font: "themify";
